<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.boot" level="ERROR"/>
    <logger name="org.springframework.test" level="ERROR"/>
    <logger name="org.springframework.boot.test" level="ERROR"/>
    <logger name="org.springframework.test.context" level="ERROR"/>

    <logger name="com.zaxxer.hikari" level="ERROR"/>
    <logger name="org.h2" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>

    <logger name="ru.yandex.practicum.filmorate" level="INFO"/>

    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>